{% extends 'layout.html' %}

{% block title %} Inicio {% endblock %}

{% load static %}

{%block content%}
<div id="title">
    <h1>
        Soy Gabriel Rodríguez,
    </h1>
    <h3 class="subtitle">
        Desarrollador Python Junior
    </h3>
    <div class="about-me">
        <p>
            Soy estudiante autodidacta de programación orientado al desarrollo web con el Framework Django de Python, soy
            proactivo y con muchas ganas de aprender muchas más tecnologías y lenguajes para convertirme en Desarrollador
            Full Stack en un futuro. Me caracterizo por tener curiosidad por aprender las tecnologías más punteras del sector y posteriormente
            aplicarlas en los proyectos que desarrollo.
        </p>
    </div>
</div>

<section id="skills">
    <h2>Habilidades</h2>

    <div class="images">
        <img src="{%static 'images/html_logo.png' %}" alt="">
        <img src="{%static 'images/css_logo.png' %}" alt="">
        <img src="{%static 'images/python_logo.png' %}" alt="">
        <img src="{%static 'images/django_logo.png' %}" alt="">
        <img src="{%static 'images/tkinter_logo.png' %}" alt="">
        <img src="{%static 'images/mysql.png' %}" alt="">
        <img src="{%static 'images/javascript.png' %}" alt="">
    </div>

    <div id="loader">
        <div class="border">
            <div id="html-bar" class="progress-bar html-bar">0%</div>
        </div>
        <div class="border">
            <div id="css-bar" class="progress-bar css-bar">0%</div>
        </div>
        <div class="border">
            <div id="python-bar" class="progress-bar python-bar">0%</div>
        </div>
        <div class="border">
            <div id="django-bar" class="progress-bar django-bar">0%</div>
        </div>
        <div class="border">
            <div id="tkinter-bar" class="progress-bar tkinter-bar">0%</div>
        </div>
        <div class="border">
            <div id="mysql-bar" class="progress-bar mysql-bar">0%</div>
        </div>
        <div class="border">
            <div id="javascript-bar" class="progress-bar">0%</div>
        </div>
</section>

<section id="experiences">
    <h2>Experiencias</h2>
    <!-- {% for experience in experiences %}

    <div class="experience">
        <h3 class="position">{{experience.position}}</h3>
        <h4 class="company">{{experience.company}}</h4>
        <span class="date">{{experience.since}} - {{experience.to}}</span>
        <div class="espacio"></div>
        <p class="functions">
            {{experience.functions|safe}}
        </p>
    </div>

    {% endfor %} -->

    <div class="experience">
        <h3 class="position">Desarrollador Freelance Python</h3>
        <h4 class="company">RCC Ingeniería y Proyectos SAS</h4>
        <span class="date">01/04/2023 - 27/11/2023</span>
        <div class="espacio"></div>
        <p class="functions">
            - Levantamiento de procedimientos <br>
            - Desarrollo de software de escritorio personalizado con el Framework Tkinter <br>
            - Creación de Base de datos relacional en MySql y vinculación a la App <br>
            - Gestión de base de datos mediante el SGBD MySql Workbench <br>
            - Soporte técnico de los bugs reportados por el usuario y mantenimiento semestral a la base de datos <br>
        </p>
    </div>
</section>

<section id="certificates">
    <h2>Certificados</h2>
    
    <!-- {% for certificate in certificates  %}

        <div class="course-info">
            {% if certificate.image != 'null' and certificate.image.url|length >= 1 %}
                    <img src="{{certificate.image.url}}" alt="">
            {% endif %}
                <a href="{{certificate.link}}" target="_blank">{{certificate.title}}</a>
        </div>
    {% endfor %} -->

    <div class="course-info">
        <img src="{% static 'images/udemy_logo.png' %}" alt="">
        <a href="https://www.udemy.com/certificate/UC-fc28dbef-10f2-4512-9d2c-4f21d55f5582/" target="_blank">Master en Python</a>
    </div>

    <div class="course-info">
        <img src="{% static 'images/udemy_logo.png' %}" alt="">
        <a href="https://www.udemy.com/certificate/UC-ddb744bb-950a-4a8b-a041-4f080a26940e/" target="_blank">Master en CSS</a>
    </div>

</section>
<script type="text/javascript" src="{% static 'js/loaders.js' %}"></script>
{%endblock%}