{% extends 'layout.html' %}

{% block title %} Proyectos {% endblock %}


{%block content%}

{% load static %}
<div class="container">

    <h1 class="title">Mis Proyectos</h1>

    <div id="projects">
        
        <article class="project">
                <img src="{% static "images/scrum_manager1.png" %}" alt="Scrum Manager">

                <div class="content">
                    <h3 class="subtitle">Scrum Manager</h3>
                    <p class="resumen">
                        App de escritorio orientada a la gestión de proyectos.
                    </p>
                </div>
                <div class="icons">
                    <a href="{% url "scrum-manager" %}">
                        <i title="Scrum Manager" class='bx bx-link'></i>
                    </a>
                </div>
        </article>
        <article class="project">
            <img src="{% static "images/password_generator1.png" %}" alt="Password Generator">

            <div class="content">
                <h3 class="subtitle">Password Generator</h3>
                <p class="resumen">
                    Generador de contraseñas a tu medida.
                </p>
            </div>
            <div class="icons">
                <a href="{% url "password-generator" %}">
                    <i title="Password Generator" class='bx bx-link'></i>
                </a>
            </div>
        </article>
        <article class="project">
            <img src="{% static "images/my_notebook1.png" %}" alt="My Notebook">

            <div class="content">
                <h3 class="subtitle">My Notebook</h3>
                <p class="resumen">
                    Tu agenda de contactos.
                </p>
            </div>
            <div class="icons">
                <a href="{% url "my-notebook" %}">
                    <i title="My Notebook" class='bx bx-link'></i>
                </a>
            </div>
        </article>
    </div>

</div>

{%endblock%}