{% extends "layout.html" %}

{% block title %} {{proyecto.title}}{% endblock %}


{% block content %}
{% load static %}

    <div id="individual-project">

        <h1 class="title">{{proyecto.title}}</h1>

        <div class="container-slider">
            <div class="slider" id="slider">
                <div class="slider__section">
                    <img class="slider__img" src="{{proyecto.image.url}}" alt="{{proyecto.title}}" title="{{proyecto.title}}">
                </div>
                {% if imagenes %}
                    {% for imagen in imagenes %}
                        <div class="slider__section">
                            <img class="slider__img" src="{{imagen.image.url}}" alt="{{proyecto.title}}" title="{{imagen.description}}">
                        </div>
                    {% endfor %}
                {% endif %}                
            </div>
            <div class="slider__btn slider__btn--right" id="btn-right">&#62;</div>
            <div class="slider__btn slider__btn--left" id="btn-left">&#60;</div>
        </div>

        <!-- <div class="image-container">
            <img src="{{proyecto.image.url}}" alt="{{proyecto.title}}" title="{{proyecto.title}}">
            {% if imagenes %}
                {% for imagen in imagenes %}
                    <img src="{{imagen.image.url}}" alt="{{proyecto.title}}" title="{{imagen.description}}">
                {% endfor %}
            {% endif %}
        </div> -->

        <p class="project-description">
            {{proyecto.description}}
        </p>

    </div>

<script type="text/javascript" src="{% static 'js/slider.js' %}"></script>
{% endblock %}